<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SinfPaths</key>
	<array>
		<string>SC_Info/FreeTelecV3.sinf</string>
	</array>
	<key>SinfReplicationPaths</key>
	<array>
		<string>Frameworks/MobileVLCKit.framework/SC_Info/MobileVLCKit.sinf</string>
		<string>Frameworks/OpenSSL.framework/SC_Info/OpenSSL.sinf</string>
		<string>Watch/FreeTelec WatchKit App.app/PlugIns/FreeTelec WatchKit Extension.appex/SC_Info/FreeTelec WatchKit Extension.sinf</string>
		<string>SC_Info/FreeTelecV3.sinf</string>
	</array>
</dict>
</plist>
