<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSUserTrackingUsageDescription</key>
    <string>L'identifiant publicitaire permet de vous proposer des publicités ciblées</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>SKAdNetworkItems</key>
    <array>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>cstr6suwn9.skadnetwork</string>
      </dict>
    </array>
    <key>DTPlatformVersion</key>
    <string>15.0</string>
    <key>CFBundleName</key>
    <string>FreeTéléc</string>
    <key>DTSDKName</key>
    <string>iphoneos15.0</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Taking pictures</string>
    <key>UIMainStoryboardFile~ipad</key>
    <string>FreeTelec</string>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-6158104124729127~9655432449</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>CFBundleDisplayName</key>
    <string>FreeTéléc</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIRequiresPersistentWiFi</key>
    <true/>
    <key>DTSDKBuild</key>
    <string>19A339</string>
    <key>NSCameraUsageDescription</key>
    <string>Taking pictures</string>
    <key>CFBundleShortVersionString</key>
    <string>4.4.3</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>21A559</string>
    <key>DTPlatformBuild</key>
    <string>19A339</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>13A1030d</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>fr</string>
    <key>MinimumOSVersion</key>
    <string>10.0</string>
    <key>CFBundleVersion</key>
    <string>5</string>
    <key>NSBonjourServices</key>
    <array>
      <string>_hid._udp.</string>
      <string>_androidtvremote._tcp.</string>
      <string>_androidtvremote2._tcp.</string>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSMotionUsageDescription</key>
    <string>Interactive ad controls</string>
    <key>CFBundleIdentifier</key>
    <string>fr.r0ro.iphone.freetelec</string>
    <key>DTXcode</key>
    <string>1310</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Adding events</string>
    <key>CFBundleExecutable</key>
    <string>FreeTelecV3</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>freebox.fr</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
      </dict>
      <key>NSAllowsArbitraryLoadsInWebContent</key>
      <true/>
      <key>NSAllowsArbitraryLoadsForMedia</key>
      <true/>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
          <string>AppIcon83.5x83.5</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>UIMainStoryboardFile</key>
    <string>FreeTelec</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>FreeTéléc a besoin de scanner le réseau pour détecter votre Freebox </string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>DTAppStoreToolsBuild</key>
    <string>13C88a</string>
  </dict>
</plist>
